{% extends "index.html" %}

{% block content %}
    <br><br><br><br><br>
    <div class="jumbotron top-space">
        <div class="container">
            {#        {% for cart in carts %}#}
            {#            {% for product in cart.products.all %}#}
            {#                <div class="alert-info" style="width: 18rem;">#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">{{ product.name }}</h5>#}
            {#                        <p class="card-text">You will donate ${{ product.price }}</p>#}
            {#                        <a href="#" class="card-link">Delete</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        {% endfor %}#}
            {#    </div>#}
            <h3 class="text-center thin">Your Cart</h3>
            <div class="row">
                {% for cart in carts %}
                    {% for product in cart.products.all %}
                        <div class="table-bordered text-center">
                            <div class="h-caption">
                                <h4><p>{{ product.name }}</p></h4>
                            </div>
                            <div class="h-body text-center">
                                <p>You will donate ${{ product.price }}</p>
                            </div>
                            <a class="btn btn-danger" href="{% url 'product_delete' id=product.id %}">Delete</a>
                            <br><br>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% for cart in carts %}
                {% if cart.products.count > 0 %}
                    <div class="row text-center">
                        <br>
                        <a class="btn-action btn-lg" href="#">BUY ALL</a>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>
{% endblock %}