{% extends "index.html" %}

{% block content %}

    <br><br><br><br><br>
    <ul>


    </ul>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="table-bordered text-center">
                    <div class="h-caption">
                        <h4><p>{{ product.name }}</p></h4>
                    </div>
                    <div class="h-body text-center">
                        <p>You will donate ${{ product.price }}</p>
                    </div>
                    <a class=" btn btn-success" href="{% url 'product_add' id=product.id %}">Add to cart</a>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
