{% extends "index.html" %}

{% block content %}

    <br><br><br><br><br>
    <div class="container text-center">
        <h2 class="thin">{{ exercise.name }}</h2>
        <div class="h-body text-center">
            <p>{{ exercise.description }}</p>
            <iframe width="560" height="315" src="{{ exercise.video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}