<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Progressus - Free business bootstrap template by GetTemplate</title>

    <link rel="shortcut icon" href="../../../temp/Progressus/assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href={% static "Progressus/assets/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "Progressus/assets/css/font-awesome.min.css" %}>

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href={% static "Progressus/assets/css/bootstrap-theme.css" %} media="screen">
    <link rel="stylesheet" href={% static "Progressus/assets/css/main.css" %}>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../../temp/Progressus/assets/js/html5shiv.js"></script>
    <script src="../../../temp/Progressus/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home">
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="{% url 'main' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
                Your trainer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="{% url 'main' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a class="btn" href="{% url "cart" %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </a></li>
                    <li><a class="btn" href="{% url 'logout' %}">LOG OUT</a></li>
                {% else %}
                    <li><a class="btn" href="{% url 'registration' %}">REGISTRATION</a></li>
                    <li><a class="btn" href="{% url 'login' %}">LOG IN</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<!-- Header -->
{% block content %}
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">DEVELOP YOURSELF</h1>
                <p class="tagline">with effective training</p>
                {% if user.is_authenticated and user_program %}
                    <p><a href="{% url 'program_detail' id=user_program.id %}" class="btn btn-action btn-lg"
                          role="button">START TRAINING</a></p>
                {% elif user.is_authenticated and not user_program %}
                    <p><a href="{% url 'properties' %}" class="btn btn-action btn-lg"
                          role="button">ENTER YOUR PROPERTIES</a></p>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Intro -->
    {% if user.is_authenticated and user_program and user_calories %}
        <div class="container text-center">
            <br> <br>
            <h2 class="thin">{{ user_program.name }}</h2>
            <p class="text-muted">
                Recommended program for you
            </p>
            <h2 class="thin">{{ user_calories }}</h2>
            <p class="text-muted">
                Recommended calories per day
            </p>
            <h2 class="thin">Buy a subscription</h2>
            <p class="text-muted">
                <a class="btn btn-action" href="{% url 'products_list' %}">Buy</a>
            </p>
        </div>

    {% endif %}
    <!-- container -->
    <div class="container">

        <h2 class="text-center top-space">Frequently Asked Questions</h2>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <h3>Should I work out at gym?</h3>
                <p>I'd highly recommend you to work out at gym, however if you have all equipment at your home - that's
                    awesome!</p>
            </div>
            <div class="col-sm-6">
                <h3>Another question?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi, consequatur doloribus
                    facilis obcaecati quos unde voluptates voluptatum. Facilis mollitia natus neque nihil praesentium
                    quas qui sequi soluta vel veniam.
                </p>
            </div>
        </div> <!-- /row -->

        <div class="row">
            <div class="col-sm-6">
                <h3>Another question?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi, consequatur doloribus
                    facilis obcaecati quos unde voluptates voluptatum. Facilis mollitia natus neque nihil praesentium
                    quas qui sequi soluta vel veniam.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Another question?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi, consequatur doloribus
                    facilis obcaecati quos unde voluptates voluptatum. Facilis mollitia natus neque nihil praesentium
                    quas qui sequi soluta vel veniam.
                </p>
            </div>
        </div> <!-- /row -->

        <div class="jumbotron top-space">
            <h4>You can also view all programs and try another one for you.</h4>
            <p class="text-right"><a class="btn btn-primary btn-large" href="{% url 'programs' %}">All programs »</a>
            </p>
        </div>

    </div>    <!-- /container -->

    <!-- Social links. @TODO: replace by link/instructions in template -->
    <section id="social">
        <div class="container">
            <div class="wrapper clearfix">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_linkedin_counter"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <!-- AddThis Button END -->
            </div>
        </div>
    </section>
{% endblock %}
<!-- /social links -->


<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+234 23 9873237<br>
                            <a href="mailto:#">some.email@somewhere.com</a><br>
                            <br>
                            234 Hidden Pond Road, Ashland City, TN 37015
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Text widget</h3>
                    <div class="widget-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam
                            architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque
                            voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id
                            expedita cupiditate repellendus possimus unde?</p>
                        <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat
                            provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci
                            nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit
                            architecto sint libero illo et hic.</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Home</a> |
                            <a href="about.html">About</a> |
                            <a href="../../../temp/Progressus/sidebar-right.html">Sidebar</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">Sign up</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/"
                                                                             rel="designer">gettemplate</a>
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../../../temp/Progressus/assets/js/headroom.min.js"></script>
<script src="../../../temp/Progressus/assets/js/jQuery.headroom.min.js"></script>
<script src="../../../temp/Progressus/assets/js/template.js"></script>
</body>
</html>