{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <br><br><br><br><br><br><br>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Login">
    </form>

{% endblock %}