{% extends "index.html" %}

{% block content %}
    <div class="container text-center">
        <br> <br> <br> <br> <br>
        <h2 class="thin">{{ program.name }}</h2>
        <div class="h-body text-center">
            <p>{{ program.description }}</p>
            <iframe width="560" height="315" src="{{ program.video_introduction }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br> <br>
            <p><a href="{% url 'training' program_id=program.id %}" class="btn btn-action btn-lg" role="button">START TRAINING</a></p>
        </div>
    </div>
{% endblock %}
