{% extends "index.html" %}

{% block content %}
    <br><br><br><br><br>
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">All programs</h3>

            <div class="row">
                {% for program in object_list %}
                    <div>
                        <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i><a
                                href="{% url 'program_detail' id=program.id %}">{{ program.name }}</a></h4></div>
                        <div class="h-body text-center">
                            <p>{{ program.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_number in page_obj.paginator.page_range %}
                                {% if page_number == page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endif %} 

                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
            <!-- /row  -->

        </div>
    </div>
{% endblock %}