{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <br><br><br><br><br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
{% endblock %}