{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <br><br><br><br><br>
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Create my account">
    </form>
{% endblock %}