{% extends 'index.html' %}

{% block content %}
    <br><br><br><br><br>
    {% for training in trainings %}
        <div class="container text-center">
            <br> <br>
            <h2 class="thin">{{ training.muscle_groups }} DAY</h2>
            <ul class="list-group">
                {% for exercise in training.exercises.all %}
                    <li class="list-group-item list-group-item-action flex-column align-items-start active">
                        <a href="{% url 'exercise' exercise_id=exercise.id %}">{{ exercise.name }}</a>
                        <span class="badge badge-info">{{ exercise.sets }} sets {{ exercise.reps }} reps</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <br><br><br><br>
{% endblock %}
